.heading {
    list-style-type: none;

    li {
        display: inline-block;
        vertical-align: middle;

        &:last-child {
            display: none;
            float: right;
        }
    }
}

@media screen and (min-width: $grid-small) {
    .heading li:last-child {
        display: block;
    }
}
