.social-media {
    list-style-type: none;
    text-align: center;
    height: 100%;

    li {
        display: inline-block;
        padding: 0 1rem;
        vertical-align: middle;
    }
}

footer .social-media li {
    padding: 0 2rem;
}

.social-media__sprite {
    background-image: url('../src/images/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.social-media__sprite-google {
    background-position: -5px -5px;
}

.social-media__sprite-twitter {
    background-position: -63px -5px;
}

.social-media__sprite-facebook {
    background-position: -5px -63px;
}

@media screen and (min-width: $grid-small) {
    footer .social-media {
        display: none;
    }
}
