html {
    font-size: 62.5%;
}

body {
    font-family: $base-family;
    font-size: $font-size-base;
    color: $base-color;
}

a {
    color: $base-color;
    text-decoration: none;

    &:visited {
        color: $base-color;
    }
}

h1 {
    font-family: $heading-family;
    font-size: $font-size-h1;
    display: inline-block;
    font-style: italic;
}

h2 {
    font-family: $heading-family;
    font-size: $font-size-h2;
}

h3 {
    font-family: $heading-family;
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

header {
    text-align: center;
    padding-bottom: 0.8rem;

    article & {
        text-align: left;
    }
}
p {
    padding-top: 1.2rem;
    line-height: 1.8rem;
}



@media screen and (min-width: $grid-small) {
    header {
        text-align: left;
    }
}
