/* GRID **/
$grid-small: 48em;
$grid-medium: 50em; //62
$grid-large: 75em;

/* FONT **/
$base-family: Helvetica, Arial, sans-serif;
$heading-family: 'Times New Roman', Georgia, Serif;

$line-height-base: 1.6rem;

$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-large: 2.0rem;

$font-size-h1: 3.4rem;
$font-size-h2: 2.7rem;
$font-size-h3: 2rem;
$font-size-h4: 1.3rem;

/* COLOURS **/
$black: rgba(0,0,0,1);
$grey: rgba(242,242,242,1);
$grey-dark: rgba(83,83,83,1);
$white: rgba(255,255,255,1);

$base-color: $black;
$background: $grey;
$image-background: $grey-dark;
$image-color: $white;
$background-border: $grey-dark;

$footer-background: $grey;
$footer-border: $grey-dark;

$nav-background: $grey;
$nav-border: $grey-dark;
