@import 'variables.scss';
@import 'reset.scss';
@import 'grid.scss';
@import 'type.scss';
@import 'images.scss';
@import 'footer.scss';
@import '_socialmedia.scss';

html {
  box-sizing: border-box;
}

a {
    color: $base-color;
    text-decoration: none;

    &:visited {
        color: $base-color;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
